:root {
  --bg-color: #f2f2f2;
  --primary-color: #FAA61A;
  --accent-color: #414042;
}

html,
body{
  font-family: 'Lato', sans-serif;
  color: var(--accent-color);
}
 
h1,
h2,
.btn {
  font-family: 'Fredoka One', cursive;
 } 

h1{
  color: var(--primary-color);
}

p {
  font-size: 18px;
}

.nav-link {
  font: bold 16px Lato;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-link:hover, .nav-link:focus, .nav-link:active,
.btn:hover, .btn:focus, .nav-link:active{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}



/* HOVER HOVER HOVER WORK WORK WORK */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.btn {
  color: var(--accent-color);
  background-color: var(--primary-color);
}

/* Hover 1 on Works */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}

footer svg {
  color: var(--accent-color);
}