/* Start with styling mobile version */

/* Add padding to the page container */
.container {
    padding: 0 1em;
}

/* Change the font and set margin and padding */
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Change the background colour */
body {
    background-color: #f7f7f7;
}

/* Fix the Heading 1 font size and font weight*/
h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 0 0.2em;
}

/* Fix the Heading 2 font size, font weight and margin. */
h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

/* Fix the font size of heading 3. */

h3 {
    font-size: 18px;
}

/* Change paragraph font size and margin  */
p {
    font-size: 18px;
    margin: 0;
}

/* Enlarge the logo size */
.main-logo {
    max-width: 115px;
}

/* Set the scooter image as background image and adjust the position */
.main {
    background-image: url(../images/bg-image/scooter.svg);
    background-position: center 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-auto-flow: row;
    gap: 10em;
    padding: 3em 0;
}

/* Fix the div content postition */
.content {
    position: relative;
    top: -15%;
}

/* Fix the intro font size */
.intro {
    font-size: 24px;
    margin: 0 0.5em;
}


/* Style out the Call to Action form by adding a background colour, border, padding, border shadow and radius */
.cta-form {
    margin: 1em;
    padding: 1em;
    border: #fff solid 1px;
    border-radius: 1.25rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

/* Fix the margin of the text under the heading 1 in the form with no padding */
.cta-form p {
    margin: 10px;
    padding: 0;
}

input[type=text] {
    width: 90%;
    padding: 6px 8px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: black 1px solid;
    border-radius: 15px;
    background-color: #f1f1f1;
}

::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
}

/* Style out the Drive with us button by fixing width and font */
.btn-drive {
    background-color: #57EEAB;
    color: #333131;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    padding: .5em 1.5em;
}

.btn-drive {
    background-color: #57EEAB;
    color: #333131;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    padding: .5em 1.5em;
}

p.alr-applied {
    font-size: 14px;
    padding: 5px;
}

/* Color the link of the application status check to red with no underliner.*/
a {
    color: #ff8480;
    text-decoration: none;
    font-size: 14px;
}

/* Change the footer background colour. Use padding and margin to stretch out the footer to the end */
footer {
    background-color: #fffd8c;
    padding: 1em 2em;
    margin: 0 -1.5rem;
}

/* Fix the size of the writing in the footer.  */
footer p {
    font-size: 16px;
}

/* Add the margin in the Green button and input to create space between the top and the bottom */
.calculation-form {
    margin: 5px 0;
}

/* Design the 2 inputs in the footer by adding a background colour, no border,border radius */

.calculation-form input[type=text] {
    background-color: #f7f7f7;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 0 5px;
}

/* Adjust the width of the Hours input */
.calculation-form .hours {
    width: 26%;
}

/* Adjust the width of the City input */
.calculation-form .city {
    width: 60%;
}

/* Add a background colour, border, border radius, width, and a padding to the Calculate button */
.btn-calculate {
    background-color: #FF8480;
    font-family: montserrat, sans-serif;
    color: #F7F7FF;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    padding: 5px 0;
    width: 100%;
}

/* Add a CSS Flexbox to create space between social media icons */
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.social-media-icon {
    width: 30px;
}

/* Use CSS Flexbox to make hours and city input stay inline */
.cal-input {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* ----------------------------------------
------------------------------------------- */
/* Use CSS Media Queries for styling the tablet version. */
@media screen and (min-width: 768px) {

    /* Fixi the font size of header 1 */
    h1 {
        font-size: 80px;
    }

    /* Add CSS Flexbox to the section to make it center  */
    .main {
        background-position: center 35%;
        background-size: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: grid;
        gap: 17em;
        padding: 3em 0;
    }

    .content {
        position: relative;
        top: -20%;
    }

    /* Fix the width of the form. */
    .cta-form {
        width: auto;
        position: relative;
        top: 1em;
    }

    /* Fix the font size of the button */
    button {
        font-size: 32px;
    }

    section .btn-drive {
        width: 90%;
        padding: 5px 10px;
    }

    /* Fix the width of the calculate button in the footer */
    .btn-calculate {
        width: 200px;
    }

    /* Fix the width of the hours input in footer */
    .hours {
        width: 120px;
    }

    /* Fix the width of the city input in the footer */
    .city {
        width: 260px;
    }

    /* Using CSS Flexbox to make the icons space out evenly in the center  */
    .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}

/* Use CSS Media Queries for styling the desktop version. */
@media screen and (min-width: 1200px) {
    .main {
        margin: 0 80px;
    }

    .main-logo {
        margin: 50px 80px;
    }

    .main {
        background-position: center 50%;
        background-size: 40%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (1, 1fr);
        grid-template-areas: "content""cta-form";
    }

    .cta-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
        background-color: #F7F7FF;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        position: relative;
        bottom: 40%;

    }


    /* Use the CSS Flexbox to move the social media icons to the right */

    .social-media {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        position: relative;
        bottom: 2em;
    }

    /* Use CSS Flexbox to adjust the order of Social media icons */
    #facebook {
        order: 4;
        padding: 1em;
    }

    #instagram {
        order: 1;
        padding: 1em;
    }

    #twitter {
        order: 1;
        padding: 1em;
    }

    #linkedin {
        order: 4;
        padding: 1em;
    }

    /* Use CSS Flexbox to make hours, city input and Calculate button stay inline */

    .cal-input.btn-calculate {
        width: 100%;
        margin: 1em 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}